// Generally customize for [Base, Generics, UIs, Views]
generator()
  [themify]
    color: $brand

  [themify-pseudo]
    &:after,
    &:before
      color: $brand

  [themify-bg]
    background: $bg

  [themify-brandbg]
    background: $brand

  [themify-bgfill]
    background: $bg
    fill: $brand
