// Generally customize for [Base, Generics, UIs, Views]
// The basic theme is light, so dark theme need to invert some colors

theme-generator()
  [themify]
    color: $brand

  [themify-active]
    &.router-link-active
      color: $brand

  [themify-pseudo]
    &:after,
    &:before
      color: $brand

  [themify-bg]
    background: $bg

    if dark($bg)
      color: $gray85

      [themify-darkify]

        &,
        > button
          color: $gray85

          .svg-symbol
            opacity: 0.7

          &:hover
            color: $gray85

      [themify-darkify-progress]
        height: 3px
        background: $brand
        box-shadow: 0 2px 8px alpha($white, 30%)

      [themify-dark-invert]
        filter: invert(100%)

  [themify-brandbg]
    background: $brand

  [themify-all]
    background: $bg
    fill: $brand
    border-color: $accent
