// Brand
$brand  = #4E788F
$accent = #A98E7D // Dark tone is better
$bg     = #FFF9EB // Old: blend(rgba($brand, 0.1), $white)

body[theme="moonized"]
  // Override variables

  // Override global style
  theme-generator()

  // Customize theme
