// Brand
$brand  = #7C7F9F
$accent = #F7825D
$bg     = #FFF9EB // Old: blend(rgba($brand, 0.1), $white)

body[theme="moonized"]
  // Override variables

  // Override global style
  generator()

  // Customize theme
