// Brand
$brand  = #295066
$accent = #7F6657 // Dark tone is better
$bg     = #FFF9EB // Old: blend(rgba($brand, 0.1), $white)

body[theme="moonized"]
  // Override variables

  // Override global style
  generator()

  // Customize theme
