// Colorful
$blue     = #3DA8F5
$red      = #FF4F3E
$amber    = #FFAF38
$yellow   = #FFE738
$green    = #75C940
$purple   = #797EC9

// Neutral
$white    = #FFFFFF
$gray97   = #F7F7F7
$gray93   = #EEEEEE
$gray90   = #E5E5E5
$gray85   = #D9D9D9
$gray80   = #CCCCCC
$gray65   = #A6A6A6
$gray50   = #808080
$black    = #383838

// Brand
$brand    = #FAC132
$bg       = blend(rgba($brand, 0.1), $white)
